
#thefont {
    font-family: cursive, "Times New Roman", sans-serif;
}


.header,
.description {
    color: blue;
    background-color: black;
    text-align: center;
    font-size: 65px;
}
.description {
    color: white;
    font-size: 35px;
}
.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.list {
    color: blue;
    text-align: center;
    font-size: 22px;
    font-family: cursive, sans-serif;
}
.header1 {
    background-color: black;
    color: gold;
    font-size: 55px;
}
.description1 {
    background-color: black;
    color: white;
    font-size: 35px;
}
.ingredients,
.steps {
    background-color: red;
    color: white;
    font-size: 30px;
}